<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>NuitInfo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<link
		href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
		rel="stylesheet"></link>
</h:head>
<h:body>
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">NuitInfo - Wall</a>
				<ui:insert name="header">
                    [Template content will be inserted here]
        		</ui:insert>
			</div>
			<div class="navbar-collapse collapse">
			</div>
		</div>
	</div>

	<div class="container">
		<ui:insert name="content">
                    [Template content will be inserted here]
        </ui:insert>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script>
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            $("#actions").hide();
            $("#donations").hide();
            $("#prevention").hide();
            $("#home").hide();

//            createStoryJS({
//                type: 'timeline',
//                width: '1100',
//                height: '600',
//                source: '${pageContext.request.contextPath}/java.resources/json/timeline_nuit_info.json',
//                embed_id: 'timeline-container'
//            });
        });

        function showActions(){
            createStoryJS({
                type: 'timeline',
                width: '1100',
                height: '600',
                source: '/resources/json/timeline_nuit_info.json',
                embed_id: 'timeline-container'
            });

            $("#donations").hide();
            $("#prevention").hide();
            $("#home").hide();
            $("#actions").show();
        }
        function showPrevention(){
            $("#actions").hide();
            $("#donations").hide();
            $("#home").hide();
            $("#prevention").show();
        }
        function showDonations(){
            $("#actions").hide();
            $("#prevention").hide();
            $("#home").hide();
            $("#donations").show();
        }
        function showHome(){
            $("#actions").hide();
            $("#donations").hide();
            $("#prevention").hide();
            $("#home").show();
        }

    </script>

</h:body>
</html>
