<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">

	<ui:define name="header">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My ONG</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><a href="#actions" onclick="showActions();">Nos actions</a></li>
                    <li><a href="#donation" onclick="showDonations();">Dons</a></li>
                    <li><a href="#prevention" onclick="showPrevention();">Prévention</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Register</a></li>
                </ul>
            </div>
        </div>
	</ui:define>

	<ui:define name="content">

        <div id="actions">
            <h1>Nos actions</h1>
            <center>
                <div id="timeline-container"></div>
            </center>
        </div>

        <div id="donations">
            <p> Dons </p>
        </div>

        <div id="prevention">
            <p> Prévention </p>
        </div>

	</ui:define>
</ui:composition>