<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/default.xhtml">

    <ui:define name="header">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My ONG</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><h:link action="#{presentationJsfBean.toggleOnActionsRendered}" value="Nos Actions" target=""/></li>
                    <li><h:link action="#{presentationJsfBean.toggleOnDonationsRendered}" value="Dons"/></li>
                    <li><h:link action="#{presentationJsfBean.toggleOnPreventionRendered}" value="Prévention"/></li>
                    <li><a href="result.xhtml">Result</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Register</a></li>
                </ul>
            </div>
        </div>
    </ui:define>

    <ui:define name="content">
        <h:outputText value="edfrghjn,k;,jnhbgvcx"/>
        <h:outputText value="#{presentationJsfBean.donationsRendered}"/>
        <h:outputText value="#{presentationJsfBean.preventionRendered}"/>

        <h:panelGroup layout="block" rendered="#{presentationJsfBean.actionsRendered == true}">
            <p> Nos actions </p>
        </h:panelGroup>

        <h:panelGroup layout="block" rendered="#{presentationJsfBean.donationsRendered == true}">
            <p> Dons </p>
        </h:panelGroup>

        <h:panelGroup layout="block" rendered="#{presentationJsfBean.preventionRendered == true}">
            <p> Prévention </p>
        </h:panelGroup>

    </ui:define>
</ui:composition>